<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="correct-integrity-hash" crossorigin="anonymous">




    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <title>Gkayz Hotel | Trang chính thức</title>
    <link rel="icon" href="assets/images/single-property.jpg">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-villa-agency.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- Custom CSS for Login Form -->
    <style>
        /* CSS để ẩn thông báo lỗi khi ban đầu và áp dụng hiệu ứng transition opacity */



        body {
            font-family: 'Quicksand', sans-serif;
            background-color: #ffffff;
        }

        .login-container {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card {
            border-radius: 1rem;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }

        .card img {
            border-radius: 1rem 0 0 1rem;
            width: 500px;
            height: 770px;
            object-fit: cover;
        }

        .card-body {
            padding: 4rem;
        }

        .logo-container {
            display: flex;
            align-items: center;
            margin-bottom: 3rem;
        }

        .logo-container i {
            color: #ff6219;
            font-size: 2rem;
            margin-right: 1rem;
        }

        .logo-container span {
            font-size: 1.5rem;
            font-weight: bold;
            color: #333;
            margin: 0;
        }

        .login-heading {
            font-size: 2.5rem;
            font-weight: bold;
            color: #333;
            margin-bottom: 30px;
        }

        .form-outline {
            margin-bottom: 20px;
        }

        .btn-login {
            background-color: #3498db;
            color: #fff;
            width: 100%;
            padding: 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .btn-login:hover {
            background-color: #007bb5;
        }

        .small-link {
            color: #3498db;
            text-decoration: none;
        }

        .small-link:hover {
            text-decoration: underline;
        }
    </style>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var sendOTPForm = document.getElementById('sendOTPForm');
            var firstNameInput = document.getElementById('first_name');
            var lastNameInput = document.getElementById('last_name');
            var emailInput = document.getElementById('email');
            var phoneInput = document.getElementById('phone');
            var loginButton = document.getElementById('checkCreate');
            var errorMessage = document.getElementById('error-message');
            var errorTitle = document.getElementById('error-title');
            var errorContent = document.getElementById('error-content');
            var successMessage = document.getElementById('success-message');
            var successTitle = document.getElementById('success-title');
            var successContent = document.getElementById('success-content');
            var otpInputContainer = document.getElementById('otp-input-container');
            var formm = document.getElementById('form');

            sendOTPForm.addEventListener('submit', function (event) {
                event.preventDefault();

                var firstName = firstNameInput.value;
                var lastName = lastNameInput.value;
                var email = emailInput.value;
                var phone = phoneInput.value;

                var localhost = 'http://localhost:8080';

                var API = '/api/customer/send-otp';

                fetch(localhost + API, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            firstName: firstName,
                            lastName: lastName,
                            email: email,
                            phone: phone
                        })
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Register failed');
                        }
                        return response.text();
                    })
                    .then(data => {
                        console.log('Register successful', data);



                        successTitle.textContent = 'Kiểm tra Email!';
                        // Thay đổi từ errorContent sang successContent
                        successContent.textContent = 'Mã xác nhận đã gửi qua email.';
                        // Thay đổi từ errorMessage sang successMessage
                        successMessage.classList.add('active');
                        successMessage.classList.remove('d-none');
                        otpInputContainer.classList.remove('d-none');
                        formm.classList.add('d-none');

                        setTimeout(function () {
                            successMessage.classList.remove('active');
                        }, 3000);

                        setTimeout(function () {
                            successMessage.classList.add('d-none');
                        }, 3500);
                        setTimeout(function () {
                            otpInputContainer.classList.add('d-none');
                            formm.classList.remove('d-none');
                        }, 60000);
                    })
                    .catch(error => {
                        console.error('Register Failed', error.message);

                        document.getElementById('checkCreate').style.display = 'block';

                        document.getElementById('loadingMessage').style.display = 'none';

                        // Hiển thị thông báo lỗi trên form
                        errorTitle.textContent = 'Gửi OTP thất bại!';
                        errorContent.textContent = 'Email đã tồn tại hoặc không đúng định dạng.';
                        errorMessage.classList.add(
                            'active'); // Thêm lớp active để hiển thị hiệu ứng
                        errorMessage.classList.remove('d-none'); // Hiển thị phần tử

                        setTimeout(function () {
                            errorMessage.classList.remove('active');
                        }, 3000);
                        setTimeout(function () {
                            errorMessage.classList.add('d-none');
                        }, 3500);
                    });
            });
        });


        document.addEventListener("DOMContentLoaded", function () {
            var verifyOTPForm = document.getElementById('verifyOTPForm');
            var firstNameInput = document.getElementById('first_name');
            var lastNameInput = document.getElementById('last_name');
            var emailInput = document.getElementById('email');
            var phoneInput = document.getElementById('phone');
            var verifyButton = document.getElementById('verifyOTP');
            var errorMessage = document.getElementById('error-message');
            var errorTitle = document.getElementById('error-title');
            var errorContent = document.getElementById('error-content');
            var otpInput = document.getElementById('otp-input');


            verifyOTPForm.addEventListener('submit', function (event) {
                event.preventDefault();

                var email = emailInput.value;
                var otp = otpInput.value;

                var localhost = 'http://localhost:8080';

                var API = '/api/customer/verify-otp';

                fetch(localhost + API, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({

                            email: email,
                            otp: otp
                        })
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Register failed');
                        }
                        return response.text();
                    })
                    .then(data => {
                        console.log('Register successful', data);
                        window.location.href = 'http://localhost:8080/?verify=true';

                    })
                    .catch(error => {
                        console.error('Register Failed', error.message);


                        // Hiển thị thông báo lỗi trên form
                        errorTitle.textContent = 'Sai OTP!';
                        errorContent.textContent = 'Mã xác nhận sai hoặc đã hết hạn.';
                        errorMessage.classList.add(
                            'active'); // Thêm lớp active để hiển thị hiệu ứng
                        errorMessage.classList.remove('d-none'); // Hiển thị phần tử

                        setTimeout(function () {
                            errorMessage.classList.remove('active');
                        }, 3000);
                        setTimeout(function () {
                            errorMessage.classList.add('d-none');
                        }, 3500);
                    });
            });
        });
    </script>

    <script>
        function linkAccount() {
            var firstName = document.getElementById('first_name').value;
            var lastName = document.getElementById('last_name').value;
            var email = document.getElementById('email').value;
            var phone = document.getElementById('phone').value;
            var errorMessage = document.getElementById('error-message');
            var errorTitle = document.getElementById('error-title');
            var errorContent = document.getElementById('error-content');

            // Kiểm tra xem các trường đã được điền hay chưa
            if (!firstName || !lastName || !email || !phone) {
                // Nếu có ít nhất một trường chưa điền, không thực hiện quá trình liên kết
                errorTitle.textContent = 'Gửi OTP thất bại!';
                errorContent.textContent = 'Vui lòng điền đầy đủ thông tin.';
                errorMessage.classList.add('active');
                errorMessage.classList.remove('d-none');

                setTimeout(function () {
                    errorMessage.classList.remove('active');
                }, 3000);
                setTimeout(function () {
                    errorMessage.classList.add('d-none');
                }, 3500);
                return;
            }
            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

            if (!emailRegex.test(email)) {
                // Nếu email không đúng định dạng, hiển thị thông báo lỗi
                errorTitle.textContent = 'Gửi OTP thất bại!';
                errorContent.textContent = 'Email không đúng định dạng.';
                errorMessage.classList.add('active');
                errorMessage.classList.remove('d-none');

                setTimeout(function () {
                    errorMessage.classList.remove('active');
                }, 3000);
                setTimeout(function () {
                    errorMessage.classList.add('d-none');
                }, 3500);
                return;
            }

            // Kiểm tra email đã tồn tại hay chưa
            checkEmailExistence(email)
                .then(function (response) {
                    if (response.ok) {
                        // Email không tồn tại, tiếp tục quá trình liên kết
                        // Gửi yêu cầu API hoặc thực hiện các công việc khác ở đây
                        // ...

                        document.getElementById('checkCreate').style.display = 'none';

                        document.getElementById('loadingMessage').style.display = 'block';

                        // Sau khi quá trình gửi hoàn tất, có thể chuyển hướng hoặc ẩn thông báo
                        // setTimeout(function () {
                        //     // Ẩn thông báo "Đang gửi..."
                        //     document.getElementById('loadingMessage').style.display = 'none';

                        //     // Hiển thị lại nút Liên kết
                        //     document.getElementById('checkCreate').style.display = 'block';
                        // }, 30000); // 3 giây làm ví dụ, bạn có thể điều chỉnh thời gian tùy ý
                    } else {
                        // Email đã tồn tại, hiển thị thông báo lỗi
                        errorTitle.textContent = 'Gửi OTP thất bại!';
                        errorContent.textContent = 'Email đã tồn tại.';
                        errorMessage.classList.add('active');
                        errorMessage.classList.remove('d-none');

                        setTimeout(function () {
                            errorMessage.classList.remove('active');
                        }, 3000);
                        setTimeout(function () {
                            errorMessage.classList.add('d-none');
                        }, 3500);

                        // Hiển thị lại nút Liên kết
                        document.getElementById('checkCreate').style.display = 'block';
                    }
                })
                .catch(function (error) {
                    console.error('Error checking email existence:', error);

                    // Hiển thị thông báo lỗi
                    errorTitle.textContent = 'Gửi OTP thất bại!';
                    errorContent.textContent = 'Có lỗi xảy ra khi kiểm tra email.';
                    errorMessage.classList.add('active');
                    errorMessage.classList.remove('d-none');

                    setTimeout(function () {
                        errorMessage.classList.remove('active');
                    }, 3000);
                    setTimeout(function () {
                        errorMessage.classList.add('d-none');
                    }, 3500);

                    // Hiển thị lại nút Liên kết
                    document.getElementById('checkCreate').style.display = 'block';
                });
        }

        // Hàm kiểm tra email tồn tại
        function checkEmailExistence(email) {
            var localhost = 'http://localhost:8080';
            var API = '/api/customer/checkEmail';

            return fetch(localhost + API + '?email=' + encodeURIComponent(email), {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
        }
    </script>

    <script>
     $(document).ready(function () {
    $('#email').keyup(function () {
        var email = $(this).val();
        
        // Sử dụng biểu thức chính quy để kiểm tra định dạng email
        var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        
        if (!emailRegex.test(email)) {
            $('#emailError').text('Email không đúng định dạng!');
            return;
        }

        // Nếu email đúng định dạng, kiểm tra xem email đã tồn tại hay chưa
        $.ajax({
            url: '/api/customer/checkEmail',
            type: 'GET',
            data: {
                email: email
            },
            success: function (response) {
                if (response === 'true') {
                    $('#emailError').text('Email đã tồn tại!');
                } else {
                    $('#emailError').text('');
                }
            }
        });
    });
});

    </script>


</head>

<body>



    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <div id="success-message" class="alert alert-success d-none" role="alert">
        <div class="d-flex align-items-center">
            <i class="fas fa-check-circle mr-2"></i>
            <div>
                <h5 style="color: #148525;" id="success-title" class="mb-1"></h5>
                <p style="font-size: 16px;  font-weight: bold;" id="success-content" class="mb-0"></p>
            </div>
        </div>
    </div>

    <div id="error-message" class="alert alert-danger d-none" role="alert">
        <div class="d-flex align-items-center">
            <i class="fas fa-exclamation-triangle mr-2"></i> <!-- Thêm icon cho thông báo -->
            <div>
                <h5 style="color: #d52727;" class="mb-1" id="error-title"></h5> <!-- Tiêu đề thông báo -->
                <p style="font-size: 16px;  font-weight: bold;" class="mb-0r" id="error-content"></p>
                <!-- Nội dung thông báo -->
            </div>
        </div>
    </div>


    <!-- Thêm một div để hiển thị thông báo lỗi -->
    <!-- Thêm một div để hiển thị thông báo lỗi -->

    <th:block th:include="fragments/sub-header"></th:block>

    <!-- ***** Header Area Start ***** -->
    <th:block th:include="fragments/header"></th:block>

    <!-- Form Register -->
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="https://23c133e0c1637be1e07d-be55c16c6d91e6ac40d594f7e280b390.ssl.cf1.rackcdn.com/u/gpch/Park-Hotel-Group---Explore---Grand-Park-City-Hall-Facade.jpg"
                                    alt="login form" class="img-fluid" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body">
                                    <div class="logo-container">
                                        <i class="fas fa-cubes"></i>
                                        <span>GkayzHotel</span>
                                    </div>

                                    <h5 class="login-heading">Liên kết tài khoản Gmail</h5>


                                    <form id="verifyOTPForm">

                                        <div id="otp-input-container" class="d-none">

                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="otp-input">Nhập mã OTP:</label>
                                                <input type="text" name="otp-input" id="otp-input"
                                                    class="form-control form-control-lg" />


                                            </div>


                                            <div class="pt-1 mb-4">
                                                <button id="verifyOTP" class="btn btn-dark btn-lg btn-block"
                                                    type="submit">Xác nhận</button>
                                            </div>
                                        </div>
                                    </form>


                                    <form id="sendOTPForm">
                                        <div id="form" class="row">

                                            <div class="col-md-6">
                                                <div class="form-outline mb-4">
                                                    <label class="form-label" for="form2Example27">Họ</label>
                                                    <input required type="text" id="first_name"
                                                        class="form-control form-control-lg" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-outline mb-4">
                                                    <label class="form-label" for="form2Example27">Tên</label>
                                                    <input required type="text" id="last_name"
                                                        class="form-control form-control-lg" />
                                                </div>
                                            </div>
                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="form2Example27">Email</label>
                                                <input required type="email" id="email"
                                                    class="form-control form-control-lg" />
                                                <p id="emailError" style="color: red;"></p>

                                            </div>
                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="form2Example27">Số điện thoại</label>
                                                <input required type="text" id="phone"
                                                    class="form-control form-control-lg" />

                                            </div>




                                            <!-- Thêm một div để hiển thị thông báo lỗi -->




                                            <div class="pt-1 mb-4">
                                                <button id="checkCreate" class="btn btn-dark btn-lg btn-block"
                                                    onclick="linkAccount()" type="submit">Liên kết</button>
                                                <div id="loadingMessage" style="display: none;">Đang gửi mã qua Gmail...
                                                </div>
                                            </div>

                                            <p class="mb-5 pb-lg-2" style="color: #393f81;">Trở về trang chủ?
                                                <a href="/" class="small-link">Quay lại</a>
                                            </p>

                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Form Register -->

    <th:block th:include="fragments/footer"></th:block>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/counter.js"></script>
    <script src="assets/js/custom.js"></script>

</body>

</html>